@charset "UTF-8";

@font-face{
    font-family: "yugothib";
    src: url("../fonts/yugothib.ttf");
 }

*{margin:0; padding:0; box-sizing:border-box;}/*모든 태그의 여백 초기화*/
a{text-decoration:none; color:#333;}
ul, ol {list-style: none;}

.textcenter {text-align:center;}
.txtleft {text-align:left;}
.txtright{text-align:right;}

img{width:100%;}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    background:#fff;
}

body {
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
	color: white;
}